  .top1 ul{ 
      margin-top: 30px;
  }
  .top1 li a{
      text-decoration: none;
      color: black;
  }
  .top1 li{
      display: inline;
      margin-left: 30px;
      font-size: 25px;
  }
  .login{
    margin-left: 700px;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 5px solid black;
  }
  .login img{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .login button{
    padding: 10px;
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
  }
  .app1 button{
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 300px;
    padding: 10px;
    font-size: 20px;
   margin-right: 80px;
    border-radius: 10px;
  }
  .login-container{
    margin-left: 700px;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 5px solid black;
  }
  .contain{
   margin-top: 200px;
  }
  .form-group label {
    margin-bottom: 1px;
    font-size: 20px;
    color: black;
    margin-right: 300px;
  }
  .form-group input {
    width: 400px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .form-group button{
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }
  .about-container {
    padding: 20px;
    text-align: center;
  }
  
  .about-container h1, 
  .about-container h2 {
    color: #333;
  }
  
  .about-container p {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: left;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-container li {
    font-size: 1.1em;
    margin: 5px 0;
  }
  .about-container img{
    border-radius: 10px;
    height: 300px;
  }