  .top1 ul{ 
      margin-top: 50px;
  }
  .top1 li a{
      text-decoration: none;
      color: black;
  }
  .top1 li a:hover{
    background-image: linear-gradient(to right, red , yellow);
    padding: 10px;
    border-radius: 10px;
  }
  .top1 li button:hover{
    background-image: linear-gradient(to right, red , yellow);
    padding: 10px;
    border-radius: 10px;
  }
  .top1 li{
      display: inline;
      margin-left: 35px;
      font-size: 25px;
  }
  .login{
    margin-left: 700px;
    margin-top: 80px;
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 5px solid black;
  }
  .login img{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .login button{
    padding: 10px;
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
  }
  .app1 button{
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 300px;
    padding: 10px;
    font-size: 20px;
   margin-right: 80px;
    border-radius: 10px;
  }
  .login-container{
    margin-left: 700px;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.734);
    border-radius: 20px;
    box-shadow: inset 5px solid black;
  }
  .culture{
    background-image: url('../assets/a3.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .about3{
    background-image: url('../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .contain{
   margin-top: 200px;
  }
  .form-group label {
    margin-bottom: 1px;
    font-size: 20px;
    color: black;
    margin-right: 300px;
  }
  .form-group input {
    width: 400px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .form-group button{
    border: none;
    background-color: rgb(40, 99, 229);
    color: white;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }
 .about1{
  background-color: rgb(65, 127, 235);
 }
 .about1 img{
  margin-top: 200px;
  max-width: 850px;
  height: 600px;
 }
 .ethics{
  margin-top: 150px;
 }
  .contact-form-container1 {
    margin-top: 100px;
    max-width: 500px;
    max-height: 700px;
    padding: 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 100px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
.form-group1 {
  margin-bottom: 15px;
}

.form-group1 label {
  margin-bottom: 5px;
  font-size: 20px;
  display: block;
  color: black;
}

.form-group1 input,
.form-group1 textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(26, 148, 247);
  color: black;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(68, 227, 158);
}
.contact{
    height: 900px;
}
.contact h1{
  margin-right: 1000px;
}
.contact img{
  margin-top: 100px;
  margin-left: 100px;
}